*{
    padding: 0;
    margin: 0;
}

.my__navbar{
    height: 35px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 0.9rem;
}

.my__navbar div{
    height: 35px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 5px;
}

.my__navbar div i{
   padding-top: 4px;
   padding-right: 5px;
}

.my__navbar p{
    font-weight: 500;
}

.items__nav{
    margin-top: 15px;
}

.boots__navbar{
   font-weight: 600;
   margin-top: 35px;
   background-color: white;
}

.boots__navbar a:hover{
    color: red;
}

.boots__navbar img{
    width: 140px;
    margin-left: 5%;
}

.init__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    text-align: start;
    margin-top: 90px;
}

.gallery__item{
    position: relative;
    cursor: pointer;
}

.gallery__item h5{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.9));
    width: 100%;
    margin: 0;
    padding: 12px;
}

.gallery__item:nth-child(1){
    grid-row-start: span 2;
    }

.gallery__item:nth-child(2){
    grid-row-start: span 3;
    }

.gallery__item:nth-child(4){
grid-column-start: span 2;
}

.gallery__item:nth-child(5){
    grid-row-start: span 2;
    }

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 218px;
    grid-gap: 10px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body{
    min-height: 1px;
}

.card-text{
    overflow: hidden;
}

.gallery__item2:nth-child(1){
    grid-row: span 2;
}
.gallery__item2:nth-child(2){
    grid-row: span 2;
}
.gallery__item2:nth-child(3){
    grid-row: span 2;
}

.third__container{
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery__item3:nth-child(1) {
    grid-column: span 2;
}

.gallery__item3:nth-child(2) {
    text-align: center;
}

.third__img{
    width: 100%;
}

.third__img2{
    width: 70%;
    height: 100%;
}

footer{
    background-color: #1A1A1A;
    color: white;
}

.my__footer{
    display: grid;
    grid-template-columns: 25% 50% 25% 0;
    height: 160px;
    padding: 50px;
    text-decoration: none;
    justify-items: center;
}

.my__footer:nth-child(2){
    grid-column: 3;
}

.footer__secciones a{
    color: white;
    text-decoration-line:none ;
}

.footer__secciones li{
    font-size: 17px;
    list-style-type: none;
}

.footer__secciones a:hover{
    color: red;
}

.footer__nosotros a{
    color: white;
    text-decoration-line:none ;
}

.footer__nosotros li{
    font-size: 17px;
    list-style-type: none;
}

.footer__nosotros a:hover{
    color: red
}

.footer__redes a{
    color: white;
}

.footer__redes i{
    font-size: 2rem;
}

.footer__redes i:hover{
    transform: scale(1.1);
}

.footer__noti{
    width: 100%;
    cursor: pointer;
}

/* MEDIA QUERYS */

@media (max-width:768px){
    .init__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__item:nth-child(1){
        grid-column-start: span 3;
        grid-row-start: span 3;
        }
        .gallery__item:nth-child(2){
            grid-column-start: span 3;
            }
    .gallery__item:nth-child(3){
        grid-column-start: span 3;
        }
        .gallery__item:nth-child(4){
            grid-column-start: span 3;
            grid-row-start: span 1;
            }
            .gallery__item:nth-child(6){
                grid-row-start: span 2;
                grid-template-columns: span 2;
                }
    .gallery__item:nth-child(7){
        grid-column-start: span 2;
        grid-row-start: span 2;
        }

    .second__container{
        display: block;
        
    }
    .fecha{
        display: none;
    }
    .my__navbar div i{
        display: none;
    }
}
@media (min-width: 440px){
    .init__container{
        grid-template-columns: repeat(2, 1fr);
    }
}